.button-container {
  padding-bottom: 16px;
}

.button {
  margin-left: 8px;
  float: right;
}

table {
  width: 100%;
}
.search-mat-icon {
  color: #9e9e9e;
}

.container-top {
  display: flex;
  justify-content: space-between;
}
