.button-container {
  padding-bottom: 16px;
}

.button {
  margin-left: 8px;
  float: right;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  width: 90%;
}
.container {
  display: flex;
  justify-content: space-between;
}
