.container {
  display: flex;
  justify-content: space-between;
}
.mat-card-left {
  width: 30%;
  height: 40%;
}
.mat-card-right {
  width: 68%;
}
mat-form-field {
  width: 100%;
}
.right-align {
  text-align: right;
}
