<mat-card>
  <mat-card-header>
    <mat-card-title>General Settings</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="settingForm" (ngSubmit)="submitSettings()">
      <div class="container">
        <mat-form-field appearance="outline" style="margin-top: 8px">
          <mat-label>Company Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          style="margin-left: 10px; margin-top: 8px"
        >
          <mat-label>Company Email</mat-label>
          <input matInput formControlName="email" type="email" />
        </mat-form-field>
      </div>
      <div class="container">
        <mat-form-field appearance="outline">
          <mat-label>Company Phone</mat-label>
          <input matInput formControlName="phone" type="tel" />
        </mat-form-field>
        <mat-form-field appearance="outline" style="margin-left: 10px">
          <mat-label>Company Address</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>About</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          formControlName="note"
        ></textarea>
      </mat-form-field>
      <div [align]="'end'">
        <button type="submit" mat-raised-button color="accent">Save</button>
        <button
          mat-raised-button
          color="warn"
          style="margin-left: 8px"
          type="reset"
        >
          Reset
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
