<mat-grid-list cols="3" rowHeight="2:1" class="container">
  <mat-grid-tile>
    <mat-card class="card-emp">
      <mat-card-header>
        <mat-card-title>Employees</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Total Employees: {{ employeesCount }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="viewEmployees()">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-cad">
      <mat-card-header>
        <mat-card-title>Candidates</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Total Candidates: {{ candidatesCount }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="viewCandidates()">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-dept">
      <mat-card-header>
        <mat-card-title>Departments</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Total Departments: {{ departmentsCount }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="viewDepartments()">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-card>
  <mat-card-header>
    <mat-card-title>Recently Added Candidates</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <table mat-table [dataSource]="recentCandidates">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let candidate">{{ candidate.id }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let candidate">{{ candidate.name }}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let candidate">{{ candidate.phone }}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let candidate">{{ candidate.email }}</td>
        </ng-container>
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>Gender</th>
          <td mat-cell *matCellDef="let candidate">
            {{ candidate.gender }}
          </td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let candidate">
            {{ candidate.address }}
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="['id', 'name', 'phone', 'email', 'gender', 'address']"
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let row;
            columns: ['id', 'name', 'phone', 'email', 'gender', 'address']
          "
        ></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
