<h1 mat-dialog-title>{{ beginningHeader }}</h1>
<div mat-dialog-content>
  <form [formGroup]="employeeForm">
    <mat-form-field appearance="outline" style="margin-top: 8px">
      <mat-label>Full Name</mat-label>
      <input formControlName="name" matInput placeholder="Full Name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" placeholder="Gender">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
        <mat-option value="Other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input
        formControlName="phone"
        type="tel"
        matInput
        placeholder="Phone Number"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input
        formControlName="email"
        type="email"
        matInput
        placeholder="Email Address"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input
        formControlName="address"
        type="text"
        matInput
        placeholder="Address"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Department</mat-label>
      <mat-select formControlName="departmentId" placeholder="Department">
        <mat-option
          *ngFor="let item of departmentList | async"
          [value]="item.id"
          >{{ item.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="primary" (click)="addEmployee()">
    {{ actionButton }}
  </button>
  <button
    mat-raised-button
    color="warn"
    mat-dialog-close
    style="margin-left: 8px; margin-right: 25px"
  >
    Cancel
  </button>
</div>
