.button {
  margin-left: 8px;
}

table {
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
}

/* .search-form {
  width: 90%;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
} */
