.toolbar-item-spacer {
  flex: 1 1 auto;
}
.app-container {
  height: 90%;
  margin: 0;
}
.app-sidenav {
  width: 230px;
}
.container {
  margin: 10px;
}
.sidenav-icon {
  margin-right: 10px;
}
.active {
  background-color: #3f51b5 !important;
  color: white !important;
}
.phone-email-text {
  font-size: 14px;
  cursor: pointer;
}
.mat-icon-phone-email {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}
