.toolbar-item-spacer {
  flex: 1 1 auto;
}
.app-container {
  height: 90%;
  margin: 0;
}
.app-sidenav {
  width: 230px;
}
.container {
  margin: 10px;
}
.mat-icon {
  margin-right: 10px;
}
.mat-list-item {
  color: #3f51b5;
}
.active {
  background-color: #dedede !important;
  color: white !important;
  border-radius: 2px;
  display: flex;
}
