.toolbar-item-spacer {
  flex: 1 1 auto;
}
.app-container {
  height: 90%;
  margin: 0;
}
.app-sidenav {
  width: 230px;
}
.container {
  margin: 10px;
}
.sidenav-item {
  justify-content: space-between;
  align-items: center;
}
.sidenav-title {
  margin-bottom: 10px;
}
.active {
  background: #3f51b5;
}
.active button {
  color: white;
  justify-content: center;
}
.phone-email-text {
  font-size: 14px;
  cursor: pointer;
}
.mat-icon-phone-email {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}
